# DB Variables
POSTGRES_DB=template_django_nuxt
POSTGRES_USER=template_django_nuxt
POSTGRES_PASSWORD=template_django_nuxt
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MinIO Variables
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_STORAGE_BUCKET_NAME=media
AWS_S3_ENDPOINT_URL=http://minio:9000
AWS_S3_CUSTOM_DOMAIN=localhost/media

# Frontend Variables
NUXT_API_BASE_SERVER=http://backend:8000/api
NUXT_PUBLIC_API_BASE=/api

# Django Variables
DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me-in-production

# Wagtail Variables
WAGTAIL_SITE_NAME=Template Wagtail Nuxt
WAGTAILADMIN_BASE_URL=http://localhost:8000
