# Core
Django>=6.0,<7.0
Wagtail>=7.0,<8.0

# REST
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1

# Database
psycopg[binary]>=3.1

# Django Ecosystem
django-storages[boto3]>=1.14
django-cors-headers>=4.3
django-leaflet

# Wagtail Ecosystem
wagtailgeowidget==9.1.0

# Server
gunicorn>=22.0

# Utilities
Pillow>=10.0

# MAPS
GDAL==3.6.2